@page
@model ArticleModel
<!DOCTYPE html>
<html lang="">
<head>
    <title>@ViewData["title"]</title>
</head>

<body>
<div hidden="true">
    @ViewData["id"]
</div>

<article>
    <h1 class="text-center">@Html.Raw(ViewData["title"])</h1>
    <br/>
    @Html.Raw(ViewData["content"])
</article>
<a class="nav-link text-dark btn btn-primary"
   asp-page="\Modify"
   asp-route-id="@ViewData["id"]">
    Modify
</a>

</body>
</html>