@page
@model ArticleModel
<!DOCTYPE html>
<html lang="">
<head>
    <title>@ViewData["title"]</title>
</head>

<body>
<div>
    <h2>
        Debug, article ID
        @ViewData["id"]
    </h2>
</div>

<article>
    <h1 class="text-center">@Html.Raw(ViewData["title"])</h1>
    <br/>
    @Html.Raw(ViewData["content"])
    <br/>
    @Html.Raw(ViewData["tags"])
</article>
<a class="nav-link text-dark btn btn-primary"
   asp-page="\Modify"
   asp-route-id="@ViewData["id"]"
   asp-route-title="@ViewData["title"]">
    Modify
</a>

</body>
</html>